.App {
  text-align: center;
}

.display {
  font-size: 2em;
  margin: 2em 0;
}

.calculator-button {
  font-size: 0.8em;
  width: 3em;
  min-width: 3em;
  height: 3em;
  min-height: 3em;
  margin: 0.5em;
  flex: 1;
}

.digits, .options, .operators {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  max-width: 50%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.options {
  max-width: 20%;
}

.operators {
  max-width: 30%;
}

.options > .calculator-button {
  max-width: 5em;
  margin-bottom: 1em;
}

.title {
  margin: 2em;
}